<style >

div[scope=form-close]:before {
    content: '\2A09';
}

div[scope=form-close]:hover {
    background-color: rgb(232, 17, 35);
}

div[scope=form-min]:before {
    content: '\1F5D5';
}


div[scope=form-min]:hover {
    background-color: rgb(26, 134, 219);
}

div.form-button {
    transition: background-color 0.2s ease;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: white;
    font-weight: lighter;
}

div[scope=form-restore]:before {
    content: '\25F1';
}

div[scope=form-restore]:hover {
    background-color: rgb(26, 134, 219);
}

div[scope=form-max]:before {
    content: '\1F5D6';
}

div[scope=form-max]:hover {
    background-color: rgb(26, 134, 219);
}

.modal-content {
    box-shadow: 0px 1px 14px -2px rgba(0,0,0,0.33);
    border-color: rgb(128, 128, 128);
}

</style >
